/* Contenedor del login */
.login-window {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-alignment: center;
}

/* Imagen de fondo */
StackPane {
    -fx-background-image: url("../../../images/fondoBlanco.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* Logo */
.logo {
    -fx-font-weight: bold;
    -fx-fill: rgb(0, 0, 0);
    -fx-effect: dropshadow(gaussian, black, 5, 0.5, 2, 2);
}

/* Título */
.title {
    -fx-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
}

.text-white {
    -fx-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
}

/* Caja de inputs */
.form-container {
    -fx-background-color: rgba(156, 155, 155, 0.5); 
    -fx-padding: 15;
    -fx-spacing: 10; 
    -fx-alignment: center;
    -fx-border-color: rgba(19, 19, 19, 0.678);
    -fx-border-width: 1;
    -fx-border-radius: 0; 
    -fx-background-radius: 0;
}

/* Etiquetas */
.label {
    -fx-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
}

/* Inputs */
.input {
    -fx-background-color: rgba(59, 59, 59, 0.308);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-prompt-text-fill: #464646; 
    -fx-border-color: rgb(54, 54, 54); 
    -fx-border-width: 1;
    -fx-border-radius: 0; 
    -fx-background-radius: 0; 
}

.input:focused {
    -fx-border-color: red;
    -fx-prompt-text-fill: transparent; 
}

/* Texto Marvel */
.marvel-text {
    -fx-fill: red;
    -fx-font-weight: bold;
}

/* Botón de recuperar contraseña */
.button-recuperar {
    -fx-background-color: transparent; 
    -fx-text-fill: rgb(0, 0, 0); 
    -fx-font-weight: bold; 
    -fx-underline: true; 
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-cursor: hand;
}

.button-recuperar:hover {
    -fx-text-fill: white; 
    -fx-background-color: rgba(255, 255, 255, 0.1); 
}

/* Botón */
.button-marvel {
    -fx-background-color: transparent; 
    -fx-text-fill: rgb(0, 0, 0); 
    -fx-font-weight: bold; 
    -fx-border-color: red;
    -fx-border-width: 1; 
    -fx-border-radius: 0; 
    -fx-padding: 10px 20px; 
    -fx-cursor: hand; 
    -fx-font-size: 18px;
}

.button-marvel:hover {
    -fx-background-color: red;
    -fx-text-fill: white; 
    -fx-border-radius: 0; 
    -fx-font-size: 18px;
}

/* Botón de cambiar de modo con estilo de ComboBox */
.button-modo {
    -fx-background-color: rgba(0, 0, 0, 0.3); 
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-border-width: 1; 
    -fx-border-radius: 5; 
    -fx-background-radius: 5; 
    -fx-text-fill: white; 
    -fx-font-size: 14px;
    -fx-padding: 5; 
    -fx-alignment: center; 
    -fx-cursor: hand; 
}

.button-modo:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1); 
    -fx-border-color: white; 
    -fx-font-size: 14px;

}

.button-modo:focused {
    -fx-background-color: rgba(0, 0, 0, 0.5); 
    -fx-border-color: red; 
}

/* Estilo minimalista del ComboBox */
.combo-box {
    -fx-background-color: rgba(0, 0, 0, 0.3); 
    -fx-border-color: rgba(255, 255, 255, 0.5); 
    -fx-border-width: 1; 
    -fx-border-radius: 5; 
    -fx-background-radius: 5; 
    -fx-text-fill: white;
    -fx-font-size: 14px; 
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.7); 
    -fx-padding: 5; 
    -fx-alignment: center; 
}

.combo-box:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: white;
}

.combo-box:focused {
    -fx-background-color: rgba(0, 0, 0, 0.5); 
    -fx-border-color: red; 
}

/* Botón desplegable del ComboBox */
.combo-box .arrow-button {
    -fx-background-color: transparent; 
    -fx-border-color: transparent; 
    -fx-padding: -6;
}

/* Icono del botón desplegable */
.combo-box .arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 30;
    -fx-border-width: 3;
}

.combo-box .arrow-button:hover {
    -fx-background-color: rgba(255, 0, 0, 0.5);
}

/* Estilo del menú desplegable */
.combo-box .list-cell {
    -fx-background-color: rgba(0, 0, 0, 0.904);
    -fx-background-radius: 30;
    -fx-text-fill: white;
}

.combo-box .list-cell:filled:hover {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.combo-box .list-cell:filled:selected {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: red;
    -fx-border-radius: 30;
    -fx-border-width: 0;
    -fx-text-fill: white; 
}

.combo-box .list-view {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-border-color: transparent;
}