/* Contenedor del login */
.login-window {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-alignment: center;
}

/* Imagen de fondo */
StackPane {
    -fx-background-image: url("../../../images/fondo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* Logo */
.logo {
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-effect: dropshadow(gaussian, black, 5, 0.5, 2, 2);
}

/* Título */
.title {
    -fx-fill: white;
    -fx-font-weight: bold;
}

.text-white {
    -fx-fill: white;
    -fx-font-weight: bold;
}

/* Caja de inputs */
.form-container {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 25;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-border-color: rgba(255, 255, 255, 0.678);
    -fx-border-width: 5;
    -fx-border-radius: 20;
}

/* Etiquetas */
.label {
    -fx-fill: white;
    -fx-font-weight: bold;
}

/* Inputs */
.input {
    -fx-background-color: rgba(0, 0, 0, 0.308);
    -fx-background-radius: 30;
    -fx-text-fill: rgb(117, 117, 117);
    -fx-prompt-text-fill: #ddd;
    -fx-border-color: rgb(167, 167, 167);
    -fx-border-width: 4;
    -fx-border-radius: 30;
}

.input:focused {
    -fx-prompt-text-fill: transparent;
    -fx-border-color: red;
}


/* Texto Marvel */
.marvel-text {
    -fx-fill: white;
    -fx-font-weight: bold;
}

/* Botón */
.button-marvel {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-border-color: red;
    -fx-border-width: 3;
    -fx-border-radius: 35;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-position: relative;
    -fx-overflow: hidden;
}

.button-marvel.large {
    -fx-font-size: 56px;
}

.button-marvel:hover {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: red;
    -fx-background-radius: 35;
    -fx-border-radius: 35;
    -fx-transition: background-color 0.3s ease-in-out;
}

/* Estilo del ComboBox */
.combo-box {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-border-color: rgba(255, 255, 255, 0.678);
    -fx-border-radius: 30;
    -fx-border-width: 4;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: white;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-alignment: center;
}

/* Cuando el ComboBox está en foco */
.combo-box:focused {
    -fx-border-color: red;
    -fx-background-radius: 30;
    -fx-prompt-text-fill: transparent;
}

.combo-box:hover {
    -fx-border-color: red;
    -fx-background-color: rgba(255, 0, 0, 0.2);
}

/* Estilo del botón desplegable */
.combo-box .arrow-button {
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: -7;
    -fx-translate-x: -15px;
}

/* Icono del botón desplegable */
.combo-box .arrow {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-radius: 30;
    -fx-border-width: 3;
}

.combo-box .arrow-button:hover {
    -fx-background-color: rgba(255, 0, 0, 0.5);
}

/* Estilo del menú desplegable */
.combo-box .list-cell {
    -fx-background-color: rgba(0, 0, 0, 0.904);
    -fx-background-radius: 30;
    -fx-text-fill: white;
}

.combo-box .list-cell:filled:selected,
.combo-box .list-cell:filled:hover {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 30;
    -fx-text-fill: white;
}

.combo-box .list-view {
    -fx-background-color: transparent;
    /* Fondo del desplegable */
    -fx-background-radius: 30;
    -fx-border-color: transparent;
}